@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100vw;
  background: center/cover url('../Web\ 1920\ –\ 1.png')
}

